@import "@styles/media";

.main {
  height: 560px;
  width: 100vw;

  background-image: url("../../assets/rcmPage.png");
  background-size: cover;

  @include tablet {
    margin-left: calc(-1 * (100vw - 750px) / 2);
    height: calc(100vw * 1500 / 2318);
  }

  @include desktop {
    margin-left: calc(-1 * (100vw - 970px) / 2);
    height: calc(100vw * 1500 / 2318);
  }

  @include desktop2k {
    margin-left: calc(-1 * (100vw - 1170px) / 2);
    height: calc(100vw * 1500 / 2318 * 10 / 13);
  }

  > div {
    position: absolute;
    width: 100vw;
    height: calc(100vw * 1500 / 2318);

    .fake {
      height: 560px;
      background: rgba(0, 0, 0, 0.45);
      width: 100%;
      //opacity: 0.5;

      @include tablet {
        height: calc(100vw * 1500 / 2318);
      }

      @include desktop {
        height: calc(100vw * 1500 / 2318);
      }

      @include desktop2k {
        height: calc(100vw * 1500 / 2318 * 10 / 13);
      }

      position: absolute;
      left: 0;
    }
  }

  > h1 {
    position: absolute;
    color: white;
    font-family: 'SegoeUILight', Arial, 'PT Sans Caption', sans-serif;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    padding: 0 15px;

    left: 0;

    width: 100%;
    top: 150px;

    @include tablet {
      font-size: 38px;
      line-height: 43px;
      text-align: left;

      width: 100%;

      top: 200px;
    }

    @include desktop {
      font-size: 41px;
      line-height: 48px;
      text-align: left;
      width: auto;

      top: 250px;
    }

    @include desktop2k {
      font-size: 55px;
      line-height: 61px;
      text-align: left;
      width: auto;

      top: 250px;
    }
  }

  > button {
    outline: none;
    border: none;
    cursor: pointer;
    color: white;

    background-color: #004ea6;
    transition: background-color 0.3s ease-in-out;

    padding: 0 30px;
    height: 59px;
    border-radius: 30px;

    position: absolute;

    font-size: 17px;
    line-height: 19px;
    font-family: 'SegoeUIRegular', Arial, 'PT Sans Caption', sans-serif;

    top: 450px;

    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      font-size: 17px;
      line-height: 22px;
      text-align: left;

      top: 400px;
    }

    @include desktop {
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      width: auto;

      top: 550px;
    }

    @include desktop2k {
      font-size: 17px;
      text-align: left;
      width: auto;

      top: 500px;
    }

    &:hover {
      background-color: #003088
    }
  }

  > h2 {
    position: absolute;
    color: #e8e8e8;
    font-family: 'SegoeUILight', Arial, 'PT Sans Caption', sans-serif;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    padding: 0 15px;

    left: 0;

    width: 100%;
    top: 250px;

    @include tablet {
      font-size: 17px;
      line-height: 22px;
      text-align: left;

      width: 100%;

      top: 300px;
    }

    @include desktop {
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      width: auto;

      top: 350px;
    }

    @include desktop2k {
      font-size: 20px;
      line-height: 24px;
      text-align: left;
      width: auto;

      top: 350px;
    }
  }
}

.footer {
  background-image: url("../../assets/footer.jpeg");

  padding: 0 15px;
  width: 100vw;
  position: relative;
  box-sizing: border-box;

  @include tablet {
    margin-left: calc(-1 * (100vw - 750px) / 2);
    padding: 0 calc((100vw - 750px) / 2);
  }

  @include desktop {
    margin-left: calc(-1 * (100vw - 970px) / 2);
    padding: 0 calc((100vw - 970px) / 2);
  }

  @include desktop2k {
    margin-left: calc(-1 * (100vw - 1170px) / 2);
    padding: 0 calc((100vw - 1170px) / 2);
  }

  @include tablet {
    height: 190px;
  }

  @include desktop {
    height: 190px;
  }

  @include desktop2k {
    height: 190px;
  }

  .fakeFooter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
  }

  .grid {
    position: relative;
    padding: 40px 20px;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    gap: 50px;

    @include tablet {
      padding: 40px 0;
      grid-template-rows: 1fr;
      grid-template-columns: max-content 1fr max-content;
    }

    @include desktop {
      padding: 40px 0;
      grid-template-rows: 1fr;
      grid-template-columns: max-content 1fr max-content;
    }

    @include desktop2k {
      padding: 40px 0;
      grid-template-rows: 1fr;
      grid-template-columns: max-content 1fr max-content;
    }

    > *:first-child {
      display: flex;
      flex-direction: column;
      gap: 20px;

      > div {
        display: flex;
        align-items: center;
        gap: 5px;

        > a {
          font-family: 'SegoeUIRegular', Arial, 'PT Sans Caption', sans-serif;
          font-size: 19px;
          line-height: 19px;
          cursor: pointer;

          color: white;
          text-decoration: none;
        }
      }

      > button {
        outline: none;
        border: none;

        color: white;
        height: 43px;
        padding: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #0043a6;
        cursor: pointer;
        border-radius: 30px;

        font-family: 'SegoeUIRegular', Arial, 'PT Sans Caption', sans-serif;
        font-size: 15px;
        line-height: 15px;

        &:hover {
          background-color: #003088;
        }
      }
    }

    > *:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > p {
        font-family: 'SegoeUIRegular', Arial, 'PT Sans Caption', sans-serif;
        font-size: 14px;
        line-height: 14px;

        color: #cfcfcf;
      }

      > button {
        outline: none;
        border: none;

        background-color: transparent;

        font-family: 'SegoeUIRegular', Arial, 'PT Sans Caption', sans-serif;
        font-size: 14px;
        line-height: 14px;

        color: #cfcfcf;

        border-bottom: 1px solid #cfcfcf;

        width: max-content;

        cursor: pointer;
      }
    }

    > *:last-child {
      display: flex;
      align-items: center;
      gap: 5px;

      > a {
        color: white;

        font-family: 'SegoeUIRegular', Arial, 'PT Sans Caption', sans-serif;
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
}

.whiteContent {
  padding: 80px 15px;
  box-sizing: border-box;

  > h1 {
    font-family: 'SegoeUILight', Arial, 'PT Sans Caption', sans-serif;
    font-size: 33px;
    line-height: 39px;

    margin: 40px 0 25px;
  }

  > p {
    font-family: 'SegoeUIREgular', Arial, 'PT Sans Caption', sans-serif;
    font-size: 18px;
    line-height: 30px;

    white-space: break-spaces;
  }
}

.content {
  background-size: cover;
  padding: 80px 15px;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  background-image: url("../../assets/background.jpeg");

  @include tablet {
    margin-left: calc(-1 * (100vw - 750px) / 2);
    padding: 80px calc((100vw - 750px) / 2);
  }

  @include desktop {
    margin-left: calc(-1 * (100vw - 970px) / 2);
    padding: 80px calc((100vw - 970px) / 2);
  }

  @include desktop2k {
    margin-left: calc(-1 * (100vw - 1170px) / 2);
    padding: 80px calc((100vw - 1170px) / 2);
  }

  .benefits {
    display: grid;
    grid-template-rows: 263px 263px 263px 263px 263px;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;

    gap: 10px;

    @include tablet {
      grid-template-rows: 263px 263px 263px;
      grid-template-columns: 1fr 1fr;
      width: 100%;

      margin: 0;
    }

    @include desktop {
      grid-template-rows: 263px 263px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;

      margin: 0;
    }

    @include desktop2k {
      grid-template-rows: 263px 263px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;

      margin: 0;
    }

    > div {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      position: relative;
      padding: 20px;

      &:nth-child(1) {
        background: url("./assets/one.jpeg") top center;
        background-size: cover;
      }

      &:nth-child(2) {
        background: url("./assets/two.jpeg") top center;
        background-size: cover;
      }

      &:nth-child(3) {
        background: url("./assets/three.jpeg") top center;
        background-size: cover;
      }

      &:nth-child(4) {
        background: url("./assets/four.jpeg") top center;
        background-size: cover;
      }

      &:nth-child(5) {
        background: url("./assets/five.jpeg") top center;
        background-size: cover;
      }

      height: 100%;

      @include tablet {
        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(2) {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(3) {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 3;
        }

        &:nth-child(4) {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
        }

        &:nth-child(5) {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 4;
        }
      }

      @include desktop {
        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(2) {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(3) {
          grid-column-start: 4;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(4) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
        }

        &:nth-child(5) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 2;
          grid-row-end: 3;
        }
      }

      @include desktop2k {
        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(2) {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(3) {
          grid-column-start: 4;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(4) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
        }

        &:nth-child(5) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 2;
          grid-row-end: 3;
        }
      }

      .fake {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background: url("../../assets/smallShadow.png") repeat-x left bottom;
      }

      .fake1 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background-color: black;
        opacity: 0.4;
      }

      > p {
        color: white;
        position: relative;

        font-family: 'SegoeUIBold', Arial, 'PT Sans Caption';

        font-size: 22px;
        line-height: 26px;
      }
    }
  }

  > h1 {
    font-family: 'SegoeUILight', Arial, 'PT Sans Caption', sans-serif;
    font-size: 31px;
    line-height: 37px;

    text-align: center;

    margin-bottom: 60px;

    @include tablet {
      font-size: 33px;
      line-height: 39px;
    }

    @include desktop {
      font-size: 33px;
      line-height: 39px;
    }

    @include desktop2k {
      font-size: 41px;
      line-height: 41px;
    }
  }

  .photo {
    width: 100%;
    max-width: 1080px;
    height: calc(100% * 1555px / 1080px);
    max-height: 1555px;

    margin: 0 auto;

    > img {
      width: inherit;
      height: inherit;
    }
  }

}

.partners {
  background-image: url("../../assets/zavod1.jpeg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  min-height: 821px;

  padding: 80px 15px;
  width: 100vw;
  position: relative;
  box-sizing: border-box;

  @include tablet {
    margin-left: calc(-1 * (100vw - 750px) / 2);
    padding: 80px calc((100vw - 750px) / 2);
  }

  @include desktop {
    margin-left: calc(-1 * (100vw - 970px) / 2);
    padding: 80px calc((100vw - 970px) / 2);
  }

  @include desktop2k {
    margin-left: calc(-1 * (100vw - 1170px) / 2);
    padding: 80px calc((100vw - 1170px) / 2);
  }

  .pFake {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    margin-left: 7.5px;
    height: 100%;
    z-index: 2;

    > h1 {
      margin-bottom: 100px;
      font-family: 'SegoeUILight', Arial, 'PT Sans Caption', sans-serif;
      font-size: 41px;
      line-height: 48px;
      color: white;
      text-align: center;
    }

    > div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 30px;

      @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      }

      @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }

      @include desktop2k {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        > i {
          color: white;
          font-size: 62px;
          font-family: "concept";

          &:before {
            line-height: unset;
            font-style: normal;
          }
        }

        &:nth-child(1) > i:before {
          content: '\e988';
        }

        &:nth-child(2) > i:before {
          content: '\e9b8';
        }

        &:nth-child(3) > i:before {
          content: '\eae6';
        }

        &:nth-child(4) > i:before {
          content: '\edcb';
        }

        &:nth-child(5) > i:before {
          content: '\e81e';
        }

        &:nth-child(6) > i:before {
          content: '\e90c';
        }

        &:nth-child(7) {
          @include desktop {
            grid-column-start: 2;
            grid-column-end: 3;
          }

          @include desktop2k {
            grid-column-start: 2;
            grid-column-end: 3;
          }

          > i:before {
            content: '\f1da';
          }
        }

        > p {
          color: white;
          font-size: 16px;
          text-align: center;
          line-height: 22px;
        }
      }
    }
  }
}

.carouselWrapper {
  background-color: #005a80;
  width: 100vw;
  padding: 80px 40px;

  @include tablet {
    margin: 0 calc(-1 * (100vw - 720px) / 2);
    padding: 80px calc((100vw - 720px) / 2);
  }

  @include desktop {
    margin: 0 calc(-1 * (100vw - 940px) / 2);
    padding: 80px calc((100vw - 940px) / 2);
  }

  @include desktop2k {
    margin: 0 calc(-1 * (100vw - 1140px) / 2);
    padding: 80px calc((100vw - 1140px) / 2);
  }

  .carousel {

    > *:nth-child(1) {
      bottom: -60px;
    }

    > *:nth-child(2) {
      padding: 0;

      @include tablet {
        padding: 0;
      }

      @include desktop {
        padding: 0 119px;
      }

      @include desktop2k {
        padding: 0 119px;
      }
    }

    > *:nth-child(3) {
      left: -40px;

      @include tablet {
        left: 0;
      }

      @include desktop {
        left: 0;
      }

      @include desktop2k {
        left: -80px;
      }
    }

    > *:nth-child(4) {
      right: -40px;

      @include tablet {
        right: 0;
      }

      @include desktop {
        right: 0;
      }

      @include desktop2k {
        right: -80px;
      }
    }
  }
}

.next {
  transform: rotateY(180deg);
}

.item1 > div {
  display: flex;
  align-items: center;
  gap: 10px;

  > * {
    height: 304px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  > *:nth-child(1) {
    background-image: url("../../components/RCM/assets/1.png");
  }

  > *:nth-child(2) {
    background-image: url("../../components/RCM/assets/2.png");
  }

  > *:nth-child(3) {
    background-image: url("../../components/RCM/assets/3.png");
  }
}

.item2 > div {
  display: flex;
  align-items: center;
  gap: 10px;

  > * {
    height: 304px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  > *:nth-child(1) {
    background-image: url("../../components/RCM/assets/4.png");
  }

  > *:nth-child(2) {
    background-image: url("../../components/RCM/assets/5.png");
  }

  > *:nth-child(3) {
    background-image: url("../../components/RCM/assets/6.png");
  }
}

.item3 > div {
  display: flex;
  align-items: center;
  gap: 10px;

  > * {
    height: 304px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  > *:nth-child(1) {
    background-image: url("../../components/RCM/assets/7.png");
  }

  > *:nth-child(2) {
    background-image: url("../../components/RCM/assets/8.png");
  }

  > *:nth-child(3) {
    background-image: url("../../components/RCM/assets/9.png");
  }
}

.item4 > div > * {
  height: 304px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../components/RCM/assets/1.png");
}

.item5 > div > * {
  height: 304px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../components/RCM/assets/2.png");
}

.item6 > div > * {
  height: 304px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../components/RCM/assets/3.png");
}

.item7 > div > * {
  height: 304px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../components/RCM/assets/4.png");
}

.item8 > div > * {
  height: 304px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../components/RCM/assets/5.png");
}

.item9 > div > * {
  height: 304px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../components/RCM/assets/6.png");
}

.item10 > div > * {
  height: 304px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../components/RCM/assets/7.png");
}

.item11 > div > * {
  height: 304px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../components/RCM/assets/8.png");
}

.item12 > div > * {
  height: 304px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../components/RCM/assets/9.png");
}

.cool {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @include desktop {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include desktop2k {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  > div {
    margin: 50px 0;

    > h2 {
      font-family: 'SegoeUILight', Arial, 'PT Sans Caption', sans-serif;
      font-size: 30px;
      line-height: 34px;
      padding-bottom: 20px;

      color: #004ea6;
      text-align: center;

      @include tablet {
        font-size: 55px;
        line-height: 55px;
      }

      @include desktop {
        font-size: 55px;
        line-height: 55px;
      }

      @include desktop2k {
        font-size: 55px;
        line-height: 55px;
      }
    }

    > p {
      text-align: center;
      font-family: 'SegoeUIRegular', Arial, 'PT Sans Caption', sans-serif;

      font-size: 16px;
      line-height: 20px;
    }
  }
}
